body {
    margin: 0;
    color: white;
    background-color: #000000;
}

#hovertreesnow {
    background: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center
}

.hovertreehead {
    background: #000;
    height: 100px;
    width: 100%;
    margin: 0;
    text-align: center
}

.hovertreesnow {
    background: #000;
    height: 494px;
    width: 100%;
    margin: 0;
    text-align: center
}

#hewenqi {
    width: 448px;
    height: 492px
}

.hovertreefoot {
    background: #000;
    height: 494px;
    width: 100%;
    margin: 0;
    text-align: center
}

a {
    color: skyblue
}